<h1>Location</h1>
<h6>the complete list who is currently on site or in the field.</h6>
<div><button type="submit">Submit form</button></div>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Access Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JC Gerodias</td>
            <td><input type="text" id="row-1-position" name="row-1-position" value="Main Building HQ"></td>
            <td><select size="1" id="row-1-office" name="row-1-office">
                    <option value="Edinburgh" selected="selected">
                        On Site
                    </option>
                    <option value="London">
                        In The Field
                    </option>
                </select></td>
        </tr>
    </tbody>
</table>