<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>Storing Attendance</h1>
    <p>input attendance</p>
    <input id="userInput" type="text" placeholder="Text">
    <button onclick="returnText()">Submit</button>
<!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Attendance</h1>
                    <p class="mb-4">The Current List/Table of Attendance<a target="_blank"
                            href="https://datatables.net"></a></p><!--If you're reading this, please use Datatables as an API for the tables used for this system-->
                    <div>                                   </div>
                            <!-- DataTales Example -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Attendance</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Date</th>
                                            <th>Time Started</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Date</th>
                                            <th>Time Started</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>