<h1>Educational Background</h1>
<h6>A list of employee's educational backgrounds</h6>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <p style="text-align:left;">Date/Time: <span id="time"> </span></p>
                    <form>
                        <label for="name">Name :</label><br>
                        <input type="text" id="name" name="name"><br>
                        <label for="department">Department :</label><br>
                        <input type="text" id="department" name="department"><br>
                        <label for="timein">ID:</label><br>
                        <input type="text" id="id" name="id"><br>
                        <label for="timeout">Diploma:</label><br>
                        <input type="file" id="myFile" name="filename"><br>
                        <label for="remarks">Certificate:</label><br>
                        <input type="file" id="myFile" name="filename"><br>
                        <br><input type="submit" value="Submit"><input type="reset"><br>
                    <table id="example" class="display" style="width:100%">
                    </form>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>ID</th>
                                <th>Diploma</th>
                                <th>Certificate</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td><button type="button">Edit</button><button type="button">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </thead>