<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<h1>May mali ka sa code or sa URL?
    Edi.
</h1>
<div class="col-lg-6 d-none d-lg-block"><img src="images/naol.jpg" alt="nakalimutan kana niya" ang password style="width:110%;max-width:1200px; height: 280px"></div>