<!DOCTYPE html>
<html>
  <head>
    <title>HRIS</title>
    <img src="/images/5Logo.png" alt="5L Solutions & Allied Services Corp" width="300" height="200">
    <style>
      .sidebar{
        position: absolute;
        width: 150px;
        background-color: rgba(201, 45, 167, 0.658);
        padding: 20px;
      }
      .sidebar .a{
        text-decoration: none;
        color: #23c6c8;
      }
      .main-content{
      position: relative;
      color: #030303;
      margin: 0 0 0 220px;  
      }
    </style>
  </head>
  <body style="background-color:powderblue;"></bodystyle>
  <div class="sidebar">
    <p>
    <a href="/">
        Dashboard
      </a>
    </p>
    <p>
      <a href="/employeemanagement">
        Employee Information Management
      </a>
    </p>
    <p>
      <a href="/RecruitSelect">
        Recruitment and Selective
      </a>
    </p>
    <p>
      <a href="/perfomancemanagement">
        Perfomance Management
      </a>
    </p>
    <p>
      <a href="/trainingdev">
        Training and Development
      </a>
    </p>
    <p>
      <a href="/payrollbenefit">
        Payroll and Benefit
      </a>
    </p>
    <p>
      <a href="/timenatt">
        Time and Attendance
      </a>
    </p>
    <p>
      <a href="/reportnanal">
        Report and Analytics
      </a>
    </p>
  </div>
  <div class="main-content">
    <h1>The Human Resources Input System</h1>
    <p>Welcome to the dashboard</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
<script>
var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];
new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 40, max:160}}],
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
}
);
</script>
<p>Lemao as if this was real</p>
<div id="chartDiv" style="width:50%; height:300px; margin:0 auto;"></div>
  </body>
  </div>
</html>
