 <!-- Sidebar - Brand -->
 <link rel="stylesheet" href="/stylesheets/sidebar.css"></script>
 <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" class="sidebar-brand-icon rotate-n-15">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-users-cog"></i>
    </div>
    <div class="sidebar-brand-text mx-3"> HRIS </div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0" >

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Masters list
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaster"
        aria-expanded="true" aria-controls="collapseMaster">
        <i class="fas fa-fw fa-save"></i>
        <span>HRMIS Master</span>
    </a>
    <div id="collapseMaster" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Personel Management:</h6>
            <a class="collapse-item" href="/employee">Employee</a>
            <a class="collapse-item" href="/supervisor">Supervisor</a>
            <a class="collapse-item" href="/department">Department</a>
            <a class="collapse-item" href="/jobtitle">Job Title</a>
            <a class="collapse-item" href="/employeetype">Employee Type</a>
            <a class="collapse-item" href="/locations">Location</a>
            <a class="collapse-item" href="/governmentinfo">Government Information</a>
            <a class="collapse-item" href="/educationbg">Educational Background</a>
            <h6 class="collapse-header">Controls:</h6>
            <a class="collapse-item" href="/accesstype">Access Type</a>
            <h6 class="collapse-header">Database:</h6>
            <a class="collapse-item" href="/users">Users </a>
            <a class="collapse-item" href="/idtype">ID Types </a>
            <a class="collapse-item" href="/postype">Position Type</a>
            <a class="collapse-item" href="/roletype">Role Type </a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Employee Information Management
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEM"
        aria-expanded="true" aria-controls="collapseEM">
        <i class="fas fa-fw fa-address-book"></i>
        <span>Employee Management</span>
    </a>
    <div id="collapseEM" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/employeemanagement">Employee Information</a>
            <a class="collapse-item" href="/perfomancemanagement">Perfomance Management</a>
            <a class="collapse-item" href="/trainingdev">Training and Development</a>
            <a class="collapse-item" href="/timenatt">Time and Attendance</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Recruiment and Selection
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecruitSelect"
        aria-expanded="true" aria-controls="collapseRecruitSelect">
        <i class="fas fa-fw fa-cat"></i>
        <span>Applicants and Resumes</span>
    </a>
    <div id="collapseRecruitSelect" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/RecruitSelect">Resume</a>
            <a class="collapse-item" href="/applicants">Applicants</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Payrolls and Analytics
</div>
<!--Cute ni Trish noh???-->
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayroll"
        aria-expanded="true" aria-controls="collapsePayroll">
        <i class="fas fa-fw fa-comment-dollar"></i>
        <span>Payroll</span>
    </a>
    <div id="collapsePayroll" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/payrollbenefit">Payrolls and Benefits</a>
            <a class="collapse-item" href="/reportnanal">Reports and Analytics</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    User/Client Interface
</div>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClient"
        aria-expanded="true" aria-controls="collapseClient">
        <i class="fas fa-fw fa-id-card"></i>
        <span>Information</span>
    </a>
    <div id="collapseClient" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/client">Your Data</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<!-- Sidebar Message -->
<div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="images/undraw_rocket.svg" alt="...">
    <p class="text-center mb-2"><strong>5L Solutions Supply and Allied Corp</strong> stay tuned with the latest post and updates from our FB Page!</p>
    <a class="btn btn-success btn-sm" href="https://www.facebook.com/5LSolutions/">Mainsite</a>
</div>