<h1>Users</h1>
<h6>A complete list of users</h6>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <p style="text-align:left;">Date/Time: <span id="time"> </span></p>
                    <form>
                    <input placeholder="First Name" type="text" id="mu_firstname" name="firstname"><br>
                    <input placeholder="Middle Name" type="text" id="mu_middlename" name="middlename"><br>
                    <input placeholder="Last Name" type="text" id="mu_lastname" name="lastname"><br>
                    <input placeholder="Username" type="text" id="mu_username" name="username"><br>
                    <input placeholder="Password" type="text" id="mu_password" name="password"><br>
                    <input placeholder="Access Type" type="text" id="mu_accesstype" name="accesstype"><br>  
                    <input placeholder="Role Type" type="text" id="mu_roletype" name="roletype"><br>
                    <input placeholder="Status" type="text" id="mu_status" name="status"><br>
                    <input placeholder="Created Date" type="text" id="mu_createddate" name="createddate"><br>
                    <input placeholder="Created By" type="text" id="mu_createdby" name="createdby"><br>
                    <input type="submit" value="Submit"><input type="reset"><br>
                    <table id="example" class="display" style="width:100%">
                    </form>
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Access Type</th>
                                <th>Role Type</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td><button type="button">Edit</button><button type="button">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </thead>