<h1>Job Titles</h1>
<h6>A complete list of given Job Titles</h6>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <p style="text-align:left;">Date/Time: <span id="time"> </span></p>
                    <form>
                    <input placeholder="Name" type="text" id="name" name="name"><br>
                    <input placeholder="Department" type="text" id="department" name="department"><br>
                    <input placeholder="Work" type="text" id="work" name="work"><br>
                    <input placeholder="ID" type="text" id="timeout" name="id"><br>
                    <input placeholder="Job Title" type="text" id="jobtitle" name="jobtitle"><br>
                    <br><input type="submit" value="Submit"><input type="reset"><br>
                    <table id="example" class="display" style="width:100%">
                    </form>
                        <thead>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Work</th>
                                <th>ID</th>
                                <th>Job Title</th>
                                <th>Options</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td><button type="button">Edit</button><button type="button">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </thead>