<!DOCTYPE html>
<html>
<head>
	<title>Import data from JavaScript</title>
</head>
<body>
	<h1 id="title"></h1>
	<ul id="list"></ul>
	<script src="javascripts/importingData.js"></script>
</body>
</html>
