<h1>Access Types</h1>
<h6>A list of employees with access types</h6>
<div>
    <div>
    <p style="text-align:left;">Date/Time: <span id="time"> </span></p>
    <form>
        <label for="name">Access code:</label><br>
        <input type="number" id="mat_accesscode" name="accesscode" style="background-color: grey;" readonly><br>
        <label for="department">Access Name:</label><br>
        <input type="text" id="mat_accessname" name="accessname"><br>
        <label for="timein">Status:</label><br>
        <input type="text" id="mat_status" name="status" style="background-color: grey;" readonly><br>
        <label for="timeout">Created by:</label><br>
        <input type="text" id="mat_createdby" name="createdby" style="background-color: grey;" readonly><br>
        <label for="remarks">Created date:</label><br>
        <input type="text" id="mat_createddate" name="createddate" style="background-color: grey;" readonly><br>
        <br><input type="submit" value="Submit"><input type="reset"><br>
        <table id="example" class="display" style="width:100%">
    </form>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <thead>
                        <tr>
                            <th>Access Code</th>
                            <th>Access Name</th>
                            <th>Status</th>
                            <th>Created by</th>
                            <th>Created date</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td><button type="button">Edit</button><button type="button">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            </thead>
        </div>